<div class="jumbotron jumbotron-fluid mt-4 mb-4" style="background-color: #e9ecef; height: 250px">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal space of its parent.
        </p>
    </div>
</div>